useDynLib("RDynState")

exportClasses("DynState.control",
              "DynStateInput",
              "Sim",
              "DynState")

exportMethods("catchMean",
              "catchMean<-",
              "catchSigma",
              "catchSigma<-",
              "choice",
              "choice<-",
              "spp1Landings",
              "spp1Landings<-",
              "spp2Landings",
              "spp2Landings<-",
              "spp3Landings",
              "spp3Landings<-",
              "spp4Landings",
              "spp4Landings<-",
              "spp5Landings",
              "spp5Landings<-",
              "spp1LndHold",
              "spp1LndHold<-",
              "spp2LndHold",
              "spp2LndHold<-",
              "spp3LndHold",
              "spp3LndHold<-",
              "spp4LndHold",
              "spp4LndHold<-",
              "spp5LndHold",
              "spp5LndHold<-",
              "spp1Discards",
              "spp1Discards<-",
              "spp2Discards",
              "spp2Discards<-",
              "spp3Discards",
              "spp3Discards<-",
              "spp4Discards",
              "spp4Discards<-",
              "spp5Discards",
              "spp5Discards<-",
              "spp1DisHold",
              "spp1DisHold<-",
              "spp2DisHold",
              "spp2DisHold<-",
              "spp3DisHold",
              "spp3DisHold<-",
              "spp4DisHold",
              "spp4DisHold<-",
              "spp5DisHold",
              "spp5DisHold<-",
              "effort",
              "effort<-",
              "sim",
              "sim<-",
              "control",
              "control<-",
              "choiceDist",
              "choiceDist<-",
              "spp1Price",
              "spp1Price<-",
              "spp2Price",
              "spp2Price<-",
              "spp3Price",
              "spp3Price<-",
              "spp4Price",
              "spp4Price<-",
              "spp5Price",
              "spp5Price<-"
) 
export("DynState",
       "DynState.control",
       "plotChoice",
       "grossRev",
       "annualFine",
       "netRev")
